@import "../../assets/variable.scss";

.login-container {
  display: flex;
  height: 100vh;
  .bold-text {
    margin-left: 0.25rem;
    font-weight: $font-weight-medium-bold;
    font-size: rem(24);
  }
  .normal-text {
    margin-left: 0.25rem;
    font-weight: $font-weight-medium;
    font-size: rem(24);
  }
  .left-section {
    flex: 1.45;
    background-color: $secondary-ddq;
    background-image: url("../../assets/images/ddq-bot-img.svg");
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    .bot-logo {
      display: flex;
      align-items: center;
      margin: 1.5rem;
      color: $white;
    }
  }

  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-ddq;
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-heading {
        font-size: $font-size-xl;
        font-weight: $font-weight-medium-bold;
        color: $white;
        margin-bottom: 2rem;
      }
      .label-heading {
        width: 100%;
        color: $white;
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        // margin-left: 0.25rem;
      }
      .form-field {
        margin: 0.5rem 0 1.5rem 0;
        background: $text-field-ddq;
        padding: rem(13) rem(24);
        width: 100%;
        border: none;
        border-radius: rem(112);
        color: $white;
        &:focus {
          border: none;
        }
      }
      .form-field-pass {
        margin: 0.5rem 0 0.25rem 0;
        background: $text-field-ddq;
        padding: rem(13) rem(24);
        width: 100%;
        border: none;
        border-radius: rem(112);
        color: $white;
        &:focus {
          border: none;
        }
      }
      .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 122%;
      }
      .text-danger {
        font-size: 12px;
        color: $ddq-danger;
        width: 100%;
        margin-top: rem(-16);
      }
      .text-danger-1{
        font-size: 12px;
        color: $ddq-danger;
        width: 100%;
      }
      .toggle-password {
        color: $white;
        position: absolute;
        right: 10px;
        top: 17px;
        cursor: pointer;
        font-size: 18px;
        user-select: none;
      }
      .forgot-pass-option-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        .wrong-pass{
          color: #FF5B5B;
          font-size: $font-size-ss;
          font-weight: $font-weight-normal;
          display: flex;
          align-items: center;
          img{
            margin-right: 0.25rem;
          }
        }
        .forgot-pass{
          color: $primary;
          font-size: $font-size-ss;
          font-weight: $font-weight-normal;
          cursor: pointer;
        }
      }
      .bottom-disclaimer {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        color: $white;
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        .login-text {
          font-weight: $font-weight-medium;
          color: $primary;
          margin-left: 0.25rem;
          cursor: pointer;
        }
      }
      .submit-button-login {
        padding: rem(12) rem(40);
        background-color: $primary;
        color: $white;
        border: none;
        border-radius: rem(90);
        cursor: pointer;
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        margin-top: 1rem;
        width: 100%;
      }

      .submit-button-login:hover {
        background-color: #61c3c5;
      }
      button:disabled {
        cursor: not-allowed;
      }
    }
  }
  // .error {
  //   color: $error-color;
  //   margin-bottom: 1rem;
  //   font-size: 0.9rem;
  //   text-align: center;
  //   animation: shake 0.5s ease-in-out;
  // }
}
