@import "../../assets/variable.scss";

.side-nav-bar {
  background-color: $primary-ddq;
  padding: rem(10);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: width 0.3s ease;
  position: relative;

  .bot-logo {
    display: flex;
    align-items: center;
    margin: 1.5rem;
    color: $white;
    justify-content: center;

    img {
      margin-right: 10px;
    }

    .bold-text, .normal-text {
      display: inline-block;
    }

    &.collapsed .bold-text, &.collapsed .normal-text {
      display: none; // Hide text in collapsed state
    }
  }

  .sidenav-options-container {
    width: 100%;

    .sidenav-option {
      padding: 0.75rem;
      color: $white;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: space-between;
      .sidenav-text{
        display: flex;
      }

      i {
        margin-right: 0.5rem;
      }

      &.collapsed i {
        margin-right: 0; // Adjust spacing in collapsed state
      }

      &.collapsed div {
        display: none; // Hide text in collapsed state
      }
    }
  }

  .toggle-arrow-button {
    position: absolute; // Position the button absolutely inside the sidebar
    right: rem(-20); 
    top: 50%; 
    background-color: $primary-ddq;
    border: none;
    color: $white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    font-size: rem(14);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}