.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  height: 100%;
}

.panel-content {
  height: 100%;
  overflow: hidden;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  color: #888;
}

.resize-handle {
  width: 5px;
  background-color: #ccc;
  cursor: col-resize;
  
}

.toggle-sidenav-button,
.toggle-chatbot-button {
  position: absolute;
  top: 10px;
  z-index: 10;
  cursor: pointer;
}
