@import "../../assets/variable.scss";

.header-box{
    display: flex;
    align-items: center;
    .input-box{
        width: 85%;
    }
    .header-input{
        background: none;
        border: none;
        color: $white;
        width: 92%;
    }
    .edit-btn{
        background: none;
        border: none;
        margin-left: 0.25rem;
        cursor: pointer;
    }
    .done-btn{
        background: none;
        border: none;
        margin-left: 0.25rem;
        cursor: pointer;
        color: $primary;
    }
}