@import "../../assets/variable.scss";

// .login-header-container{
//     width: 100%;
//     display: flex;
//     align-items: center;
//     margin: 0 0.5rem;
//     .user-name{
//         margin-left: 0.5rem;
//         font-size: $font-size-base;
//         font-weight: $font-weight-medium;
//         word-wrap: break-word;
//     }
// }
.login-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 0.5rem;

//   img {
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//   }

  .user-name {
    margin-left: 0.5rem;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    word-wrap: break-word;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $primary-ddq;
      color: $white;
    //   border: 1px solid #ccc;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: $border-radius;
      padding: 0.5rem;
      z-index: 10;

      button {
        background: none;
        border: none;
        font-size: $font-size-base;
        color: $text-color;
        cursor: pointer;
        padding: 0.5rem;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
