@import "../../assets/variable.scss";

.grid-container{
  padding: 1rem 3rem 4rem 3rem;
  background: $secondary-ddq;
  display: flex;
  flex-direction: column;
  align-items: center;
  .cursor-pointer{
    cursor: pointer;
  }
  .align-items-center{
    display: flex;
    align-items: center;
  }
  .grid-container-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .table-heading{
      color: $white;
      font-size: $font-size-lg;
      font-weight: $font-weight-medium-bold;
      margin-left: 1rem;
    }
    .grid-header-options{
      display: flex;
      align-items: center;
      width: 18%;
      justify-content: space-between;
      .expand-text{
        color: $white;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        margin-left: 0.5rem;
      }
    }
  }
  .ddq-grids{
    width: 100%;
    margin: auto;
    height: 100%;
    background: $secondary-ddq;
    border-radius: $border-radius-base; // Add rounded corners
    margin-top: 1rem;
    & .MuiDataGrid-container--top [role=row]{
      background: #ffffff1a !important;
      color: #ffffffe6;
    }
    & .MuiDataGrid-iconButtonContainer button{
      color: #ffffffe6 !important;
    }
    & .MuiDataGrid-menuIcon button{
      color: #ffffffe6 !important;

    }
  }
  .chatbot-input {
    position: fixed;
    bottom: 5px;
    width: 65%;
    display: flex;
    align-items: center;
    background: $chatbot-input;
    border-radius: rem(24);
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
}
