@import "../../assets/variable.scss";

.chatbot-container {
  padding: 1rem;
  background-color: $secondary-ddq;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  .max-65{
    max-height: 65%;
  }
  .mr-10{
    margin-right: rem(6);
  }
  .mb-10{
    margin-bottom: rem(6);
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999; /* Ensure it appears above all other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .align-items-center {
    align-items: center;
    display: flex;
  }
  .align-items-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 87%;
  }
  .expand-text{
    color: $white;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    margin-left: 0.5rem;
  }
  .mt-16 {
    margin-top: rem(16);
  }
  .ml-10 {
    margin-left: rem(10);
  }

  &.chat-started {
    .chatbot-heading,
    .disclaimer-text {
      display: none;
    }

    .chatbot-messages {
      flex-grow: 1;
      overflow-y: auto;
      margin-top: 0;
      padding-right: rem(24);
    }

    .chatbot-input {
      position: fixed;
      bottom: 5px;
      width: 65%;
      display: flex;
      align-items: center;
      background: $chatbot-input;
      border-radius: rem(24);
      padding: 0.5rem;
      transition: all 0.3s ease-in-out;
    }
    .chatbot-input-upload{
      position: fixed;
      bottom: 5px;
      width: 65%;
      display: flex;
      align-items: center;
    }
    .chatbot-input-uploaded{
      position: fixed;
      bottom: 5px;
      width: 65%;
    }
  }
}

.chatbot-heading {
  color: $white;
  font-size: $font-size-xl;
  font-weight: $font-weight-medium-bold;
  margin-top: 5rem;
}

.disclaimer-text {
  color: rgba($color: $white, $alpha: 0.8);
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  letter-spacing: rem(1);
  text-align: center;
}

.chatbot-messages {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: rem(10);
  margin-top: 2rem;
  max-height: 73%;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  // scrollbar-color: $scrollbar-1 $scrollbar-2;
}

.message-bubble {
  padding: rem(10);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  color: $white;
  align-self: flex-start;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium-bold;
}
.mesage-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

// .bot-message {
//   color: $white;
//   align-self: flex-start;
//   font-size: $font-size-lg;
//   font-weight: $font-weight-medium-bold;
// }
.chat-text {
  margin-left: 0.75rem;
  height: auto;
}
.cursor-pointer {
  cursor: pointer;
}

.chatbot-input-uploaded {
  width: 80%;
  background: $chatbot-input;
  padding: 1.5rem;
  border-radius: rem(24);
  color: rgba($color: $white, $alpha: 0.7);
  .file-uploaded-heading {
    font-size: $font-size-lg;
    font-weight: $font-weight-medium-bold;
  }
  .file-uploaded-text-1 {
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
  }
  .file-uploaded-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .file-details-container {
    display: flex;
    align-items: center;
  }
  .file-name {
    color: $white;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
  }
  .process-btn {
    background: none;
    border: 1px solid $primary;
    border-radius: rem(50);
    color: $primary;
    padding: rem(12) rem(28);
    margin-right: rem(10);
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    cursor: pointer;
  }
}
.note-text {
  color: $red;
}
.chatbot-input-upload {
  display: flex;
  align-items: center;
  width: 80%;
  background: $chatbot-input;
  padding: 1.5rem;
  border-radius: rem(24);
  justify-content: space-between;
  .upload-file-icon {
    margin-right: rem(5);
  }
  .upload-container-1 {
    display: flex;
    align-items: center;
  }
  .upload-container-2 {
    display: flex;
    align-items: center;
  }
  .browse-file-btn {
    background: $primary;
    border: none;
    border-radius: rem(50);
    color: $white;
    padding: rem(12) rem(28);
    margin-right: rem(6);
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    cursor: pointer;
  }
  .upload-text-1 {
    color: $white;
    font-size: rem(20);
    font-weight: $font-weight-medium-bold;
  }
  .upload-text-2 {
    color: rgba($color: $white, $alpha: 0.7);
    font-size: $font-size-ss;
    font-weight: $font-weight-normal;
  }
  .circle-icon {
    height: rem(8);
  }
}

.chatbot-input {
  display: flex;
  align-items: center;
  background: $chatbot-input;
  border-radius: rem(24);
  width: 80%;
  position: relative;
  padding: 1rem;
  transition: all 0.3s ease-in-out;

  .file-upload-icon {
    margin: 0 0.5rem;
    cursor: pointer;
  }

  .chatbot-input-field {
    background: none;
    padding: 0.5rem;
    color: $white;
    border: none;
    resize: none;
    overflow-y: hidden;
    width: 100%;
    flex: 1;
    margin: 0 0.5rem;
    outline: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    height: auto;
  }

  .chat-submit {
    background: none;
    border: none;
    border-radius: 2.5rem;
    max-height: 3rem;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
    &:focus {
      border: none;
    }
  }
}
.drop-files {
  text-align: center;
  width: 100%;
  color: $white;
}
.upload-input {
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
  opacity: 0;
  cursor: "pointer";
}
.bot-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.option-img-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bot-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rem(12);
  border-radius: $border-radius-base;
  background-color: $chatbot-input;
  color: $white;
  border: 1px solid rgba($color: $white, $alpha: 0.2);
  cursor: pointer;
  .option-internal-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .bot-option-text{
    word-wrap: break-word;
    text-align: left;
  }
  .select-container{
    width: 100%;
    background: rgba($color: $primary, $alpha: 0.2);
    color: $primary;
    padding: 0.5rem;
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }
}
