@import "../../assets/variable.scss";
.chatbot-container {
  padding: 1rem;
  background-color: $secondary-ddq;
  height: 100%;
  // height: calc(
  //   100vh
  // ); /* Fill remaining height of the screen, adjust for other */
  overflow-y: auto;
}
.half {
  width: 35%;
}
.full {
  width: 100%;
}
h2 {
  color: $white;
  text-align: center;
}
.chatbot-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  max-height: 75%;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #a5a5a5 #f9f9f9;
}

.message-bubble {
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
}

.user-message {
  color: $white;
  align-self: flex-start;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium-bold;
}

.bot-message {
  color: $white;
  align-self: flex-start;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium-bold;
}

.chatbot-input {
  display: flex;
  align-items: center;
}

input {
  background: $chatbot-input;
  flex-grow: 1;
  padding: rem(30);
  border-radius: rem(24);
  color: $white;
  border: none;
  overflow: scroll;
  word-wrap: break-word;
}

.chat-submit{
  background: none;
  border: none;
  border-radius: 2.5rem;
  max-height: 3rem;
  cursor: pointer;
  &:disabled{
    cursor: not-allowed;
  }
}
.bot-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.bot-option {
  padding: 10px;
  border-radius: 15px;
  background-color: #e0f7fa;
  color: #00796b;
  border: 1px solid #b2ebf2;
  cursor: pointer;
  transition: background-color 0.2s;
}

.bot-option:hover {
  background-color: #b2ebf2;
}
